.App {
    text-align: center;
}


.App-header {
    background-color: #282c34;
    background-image: url("https://images.unsplash.com/photo-1636081671112-04a4113ba1fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 15px;
}


.app-container {
    height: 100vh;
    background-color: #f5f5f5;
}


section {
    height: 100vh;
}

.welcome {
    color: #282c34;
    font-size: 3em;
    text-transform: uppercase;
}



.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
}
.eth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.verify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}
.mint-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100%;
}

.btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.modal-body {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-link {
    text-decoration: none;
    color: #171717;
}
.login-link:hover {
    text-decoration: line-through;
    color: #83236d;
}

.scroll {
    background-color: #fff;
    border-radius: 180px;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.scroll:hover {
    color: #fff;
    background-color: #cdbb8d;
    border-radius: 180px;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: line-through;
    cursor: pointer;
}

.inner-app-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.team-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

h1 {
    font-family: Roboto, "Helvetica Neue";
    font-weight: 700;
}