.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border-color: transparent transparent transparent;
    z-index: 99999;
    padding-top: 5px;
}

.nav,
.nav-bar {
    padding: 15px;
    
}

.logo-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5
}

.logo {
    height: 50px;
    margin: 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-decoration: none;
}

li {
    list-style: none;
    color: #282c34;
}
li:hover {
    list-style: none;
    text-decoration: line-through;
    cursor: pointer;
    color: #cdbb8d;
}

.user-info {
    color: #fff;
    padding: 15px;
    border-radius: 15px;
    background-color: #cdbb8d;
    font-size: 11px;
}
.user-info:hover {
    color: #cdbb8d;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    text-decoration: line-through;
    cursor: pointer;
}
